<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization</title>
</head>
<body bgcolor="black">
<font color="White", align="center">
    <h1><hr>Data Visualization<hr></h1>
    <br><br><br><br><br><br>
    Note:-  loading of next page will depend on your size of the dataset
    <br><br><br><br><br><br>
    <form method="post" enctype="multipart/form-data">
        <hr>
        <font color="red">
        Enter the title:
        </font>

        <br><br>
        <input type="text" name="title" placeholder="Enter the title">
        <br><br>


        <font color="red">
        Data File:
        </font>

        <br><br>
        <input name="data" type="file">
        <br><br>
        <button type="submit" onclick="{{ url_for('next') }}">Done</button>
        <hr>
    </form>
</font>

</body>
</html>
